header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px;
    background-color: #6FB1BF;
    width: 100vw;
    height: 20vh;
    font-family: 'Lato', sans-serif;
    font-size: 4vh
}


#home-link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 6vh;
    display: flexbox;
    text-shadow: 0.2px 5px 15px #011826
}

#home-link:hover {
    color:rgb(255, 233, 110);
    text-shadow: 5px 5px 15px #F2E6D8;
    transition: .5s;
    transform: scale(1.1, 1.2);
}

nav {
    display: flex;
    width: 400px;
    text-align: center;
    justify-content: space-around;   
}

#store-products-link {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0.2px 5px 15px #011826
}

#store-products-link:hover {
    color:rgb(255, 233, 110);
    text-shadow: 5px 5px 15px #F2E6D8;
    transition: .5s;
    transform: scale(1.1, 1.2);
}

#about-link {
    color: rgb(255, 233, 110);
    text-shadow: 5px 5px 15px #F2E6D8;
}

main {
    background-image: "https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";
    height: 100vh;
    width: 100vw;
}

footer {
    background-color: #6FB1BF;
    width: 100vw;
    height: 10vh;
    font-family: 'Lato', sans-serif;
    font-size: xx-large
}