* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px;
    background-color: #6FB1BF;
    width: 100vw;
    height: 20vh;
    font-family: 'Lato', sans-serif;
    font-size: 4vh
}

body {
    overflow-x: hidden;
}

#home-link {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 6vh;
    display: flexbox;
    text-shadow: 0.2px 5px 15px #011826
}

#home-link:hover {
    color:rgb(255, 233, 110);
    text-shadow: 5px 5px 15px #F2E6D8;
    transition: .5s;
    transform: scale(1.1, 1.2);
}

nav {
    display: flex;
    width: 500px;
    text-align: center;
    justify-content: space-around;   
}

#store-products-link {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0.2px 5px 15px #011826
}

#store-products-link:hover {
    color:rgb(255, 233, 110);
    text-shadow: 5px 5px 15px #F2E6D8;
    transition: .5s;
    transform: scale(1.1, 1.2);
}

#about-link {
    color: rgb(255, 233, 110);
    text-shadow: 5px 5px 15px #F2E6D8;
}

main {
    background-image: url("https://images.pexels.com/photos/1431822/pexels-photo-1431822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

section {
    color: black;
    background-color: #9cc3d2a4;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    height: 80vh;
    width: 60vw;
    box-sizing: border-box;
    padding: 50px;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: larger;
}

h1 {
    font-size: 3.5vh;
}

#about-body {
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
}

footer {
    display: flex;
    background-color: #6FB1BF;
    width: 100vw;
    height: 10vh;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.bottom-left {
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin-left: 50px;
  }